* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffbf7;
  /*background-image: url(https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);*/
  /*El background que va a aparecer es el segundo por el efecto cascada, siempre aparece el ultimo estilo de la hoja*/
}

.navbar {
  width: 65%;
  text-align: center;
  color: #025157;
  vertical-align: middle;
}

.actions {
  text-align: right;
  font-weight: 600;
  font-size: 14px;
}

.actions > * {
  margin-right: 10px;
  margin-left: 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: #fff;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

main {
  margin-top: 285px;
  text-align: center;
}

h1 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 60px;
  margin-bottom: 24px;
}

h4 {
  color: #46484c;
  font-family: "Slabo 27px", serif;
  font-size: 20px;
  margin-bottom: 30px;
}

p {
  color: #8b8b8bcc;
  margin-top: 15px;
  font-family: sans-serif;
}

form {
  height: 55px;
}

main div form {
  padding: 20px;
  height: fit-content;
}

input,
button {
  height: 100%;
  border-radius: 8px;
}

input {
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  width: 60%;
  max-width: 250px;
}

button {
  color: #fff;
  background-color: #025157;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 6px 20px;
  margin-left: -10px;
}

main div form label {
  font-family: sans-serif;
}

main div form button {
  border-radius: 10px;
}

figure {
  margin-top: 32px;
}

.promo {
  display: flex;
  max-width: 70%;
  margin: 100px auto;
  align-items: center;
}

.explainVideo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explainVideo img {
  width: 120px;
  margin-top: 10px;
}

.freeTrial {
  flex: 1;
}

.freeTrial h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.freeTrial > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.freeTrial > form {
  display: flex;
  flex-direction: column;
}

.freeTrial > form p {
  color: #025157;
  margin-bottom: 18px;
}

.fixedHeader {
  position: fixed;
  background-color: #fffbf7;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  margin: 15px 20px 0 20px;
  font-size: 0;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
  font-family: sans-serif;
}

.logo {
  width: 15%;
  height: 100%;
}

li {
  display: inline;
  padding: 0 25px 0 25px;
}

.caseStudies {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.caseStudies .overview {
  flex: 2;
  padding-right: 100px;
}

.caseStudies .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

.caseStudies .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.caseStudies .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.caseStudies .overview img {
  width: 500px;
  max-width: 100%;
}

.caseStudies .stories-carousel {
  flex: 1;
}

.caseStudies .stories-carousel .card {
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.caseStudies .stories-carousel .card .card-media img {
  width: 100%;
  max-height: 16vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.caseStudies .stories-carousel .card .card-media figure {
  margin-top: 0;
}

.caseStudies .stories-carousel .card .card-media {
  position: relative;
}

.caseStudies .stories-carousel .card .card-media .company {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caseStudies .stories-carousel .card .card-media .company img {
  max-width: 75%;
}

.caseStudies .stories-carousel .card .card-body,
.caseStudies .stories-carousel .card .card-footer {
  padding: 25px;
}

.caseStudies .stories-carousel .card .card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.caseStudies .stories-carousel .card .card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.caseStudies .stories-carousel .card .card-body .results {
  display: flex;
  align-items: center;
  color: #828282;
}

.caseStudies .stories-carousel .card .card-body .results img {
  width: 26px;
  margin-right: 20px;
}

.caseStudies .stories-carousel .card .card-body .results p {
  margin-top: 0;
}

.caseStudies .stories-carousel .card .card-footer {
  margin-bottom: 20px;
  background-color: unset;
  border-top: unset;
}

.caseStudies .stories-carousel .card .card-footer button {
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 13;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
}