h1 {
  color: #46484c;
  text-align: center;
}

p {
  color: #8b8b8bcc;
  font: verdana;
}

body {
  background-color: #fffbf7;
  /*background-image: url(https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);*/
  /*El background que va a aparecer es el segundo por el efecto cascada, siempre aparece el ultimo estilo de la hoja*/
}

button {
  color: #fff;
  background-color: #025157;
}

.fixedHeader {
  position: fixed;
  background-color: #fffbf7;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  margin: 15px 20px 0 20px;
  font-size: 0;
}
h1 {
  color: #46484c;
  text-align: center;
}

p {
  color: #8b8b8bcc;
  font: verdana;
}

body {
  background-color: #fffbf7;
  /*background-image: url(https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);*/
  /*El background que va a aparecer es el segundo por el efecto cascada, siempre aparece el ultimo estilo de la hoja*/
}

button {
  color: #fff;
  background-color: #025157;
}

.fixedHeader {
  position: fixed;
  background-color: #fffbf7;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  margin: 40px 20px 0 20px;
  font-size: 0;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
  font-family: sans-serif;
}

.logo {
  width: 15%;
  height: 100%;
}

.navbar {
  width: 65%;
  text-align: center;
  color: #025157;
}

li {
  display: inline;
  padding: 0 25px 0 25px;
}

.actions {
  width: 20%;
  text-align: right;
  font-size: 14px;
}

.actions > * {
  margin: 0 10px 0 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: #fff;
  background-color: #67b54b;
  padding: 12px 14px 12px 14px;
  border: none;
  border-radius: 5px;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
  justify-content: center;
}

.freeTrial {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.explainVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.promo h3 {
  font-family: serif;
  color: #025157;
  font-size: 40px;
  line-height: 48px;
}

.promo form p {
  color: #025157;
}

.promo p {
  color: #343434;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.freeTrial form div {
  justify-content: center;
}

.explainVideo img {
  width: 120px;
  margin-top: 10px;
}